/*
@Harris Christiansen (Harris@HarrisChristiansen.com)
@Mehak Vohra (watthemehak.com)
April 2016
Checkers - Stylesheet
*/

/* --------- Table ---------- */

#checkersTable {
	background-color: #FFFFFF;
	color: #000000;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
}

#checkersTable td {
	width: 60px;
	height: 60px;
	border: 1px solid #000000;
}

#checkersTable tr:nth-child(2n) td:nth-child(2n+1) {
	background-color: #000000;
	color: #FFFFFF;
}

#checkersTable tr:nth-child(2n+1) td:nth-child(2n) {
	background-color: #000000;
	color: #FFFFFF;
}

/* --------- Pieces ---------- */

.whitePiece, .redPiece {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
	background-size: contain; 
}

.whitePiece {
	/*background-color: #FFFFFF;*/
	background-image: url("images/redPiece.png");
	bac

}

.redPiece {
	/*background-color: red;*/
	background-image: url("images/whitePiece.png");

}