/*
@Harris Christiansen (Harris@HarrisChristiansen.com)
@Mehak Vohra (watthemehak.com)
April 2016
Checkers - Stylesheet
*/

/* --------- Table ---------- */

#checkersTable {
	background-color: #FFFFFF;
	color: #000000;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto; 
	margin-top: 2%;
	margin-bottom: auto; 
}

h1{
	color: white;
	text-align: center; 
	font-family: 'Fjalla One', sans-serif;
	font-size: 40px;
}


h2 {
	font-family: 'Fjalla One', sans-serif;
	text-align: center;
	font-size: 30px; 
}

.h2-white{
	color: white;
}

.h2-red{
	color: #8B8989;
}

#checkersTable td {
	width: 60px;
	height: 60px;
	border: 1px solid #000000;
}

#checkersTable tr:nth-child(2n) td:nth-child(2n+1) {
	background-color: #000000;
	color: #FFFFFF;
}

#checkersTable tr:nth-child(2n+1) td:nth-child(2n) {
	background-color: #000000;
	color: #FFFFFF;
}

/* --------- Pieces ---------- */

.whitePiece, .redPiece {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
	background-size: contain; 
}

.whitePiece {
	/*background-color: #FFFFFF;*/
	background-image: url("images/whitePiece.png");
}

.redPiece {
	/*background-color: red;*/
	background-image: url("images/blackPiece.png");

}

.kingPiece.redPiece {
	background-image: url("images/kingPieceRed.png");  
}

.kingPiece.whitePiece {
	background-image: url("images/kingPieceWhite.png");  
}

.whiteScore {
	color: white;
}

.redScore {
	color: #8B8989;
}

.left {
 float:left;
}

.right {
 float:right;
}

.mid-page {
	padding-top: 10%; 
}

.container {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
	.col-sm-2 {
		width: 16.66666667%;
	}
}

@media (min-width: 992px) {
	.col-md-2 {
		width: 16.66666667%;
	}
}

@media (min-width: 768px) {
	.col-lg-2 {
		width: 16.66666667%;
	}
}

@media (min-width: 1200px) {
	.col-sm-3 {
		width: 25%;
	}
}

@media (min-width: 992px) {
	.col-md-3 {
		width: 25%;
	}
}

@media (min-width: 768px) {
	.col-lg-3 {
		width: 25%;
	}
}

@media (min-width: 1200px) {
	.col-sm-6 {
		width: 50%;
		padding-left: 25%;

	}
}

@media (min-width: 992px) {
	.col-md-6 {
		width: 50%;
		padding-left: 25%;
	}
}

@media (min-width: 768px) {
	.col-lg-6 {
		width: 50%;
		padding-left: 25%;
	}
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.rotate {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}